:root {
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --menu-color: rgba(255, 255, 255, .55);
    --footerColor: #3d3d3d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
}


.container a{
    text-decoration: none !important;
}

.container_table_header{
    border: 2px solid var(--gray-600);
}

.container_table_body{
}

.container_table_footer{
    background-color: var(--gray-600);
    color: var(--gray-100);
}
